html {
  font-size: 62.5%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', 'sans-serif';
  color: #fff;
  background: #000; /* unify with section backgrounds */
  overflow-y: auto; /* allow normal page scrolling */
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
